<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Sunny Golovine
  </title>
  <link rel="stylesheet" type="text/css" href="./reset.css">
  <link rel="stylesheet" type="text/css" href="./styles.css">
</head>

<body>
  <h1>
    Resume for Sunny Golovine
  </h1>
</body>

</html>